root = true

[*]
max_line_length = 99
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
indent_style = space
indent_size = 4
max_line_length = 120

[*.{vala,vapi}]
indent_style = tab
indent_size = 4

[*.py]
indent_style = space
indent_size = 4

[*.lua]
indent_style = tab
indent_size = 3

[*.rb]
indent_style = tab
indent_size = 3

[*.scala]
indent_style = space
indent_size = 2

[*.{html,xml,fxml,ui,peb,pebble,erb}]
indent_style = tab
indent_size = 3
max_line_length = off

[*.{css,scss}]
indent_style = tab
indent_size = 2
